{% extends "layout.html" %}

{% block title %}
    Delete Projects
{% endblock %}

{% block main %}
    <table class="table table-all">
        <thead>
            <tr>
                <th class="text-start">Name</th>
                <th class="text-start">Description</th>
                <th class="text-end">Phase</th>
                <th class="text-end">Start Date</th>
                <th class="text-end">End Date</th>
                <th class="text-end">% Complete</th>
                <th class="text-end">Status</th>
            </tr>
        </thead>
        <tbody>
            {% for project in projects %}
                <tr>
                    <td class="text-start">{{ project.name }}</td>
                    <td class="text-start">{{ project.description }}</td>
                    <td class="text-end">{{ project.phase }}</td>
                    <td class="text-end">{{ project.start_date }}</td>
                    <td class="text-end">{{ project.end_date }}</td>
                    <td class="text-end">{{ project.percent_complete }}%</td>
                    <td class="text-end">{{ project.status }}</td>
                    <td>
                        <form action="/delete_project" method="post">
                            <input name="project_id" type="hidden" value="{{ project.id }}">
                            <button type="submit" class="btn btn-primary">Delete</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}