{% extends "layout.html" %}

{% block title %}
    Edit Task
{% endblock %}

{% block main %}
    <h1>Tasks</h1>
    <table class="table table-all">
        <thead>
            <tr>
                <th class="text-start">Name</th>
                <th class="text-start">Description</th>
                <th class="text-start">Assigned To</th>
                <th class="text-start">State</th>
                <th class="text-start">Start Date</th>
                <th class="text-start">End Date</th>
            </tr>
        </thead>
        <tbody>            
            <tr>
                <form action="/edit_task" method="post">
                    {% for task in tasks %}
                        <td>
                            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="name" placeholder="Name" type="text" value="{{ task.name if task.name else '' }}">
                        </td>
                        <td>
                            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="description" placeholder="Description" type="text" value="{{ task.description if task.description else '' }}">
                        </td>
                        <td>
                            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="assigned_to" placeholder="Assigned To" type="text" value="{{ task.assigned_to if task.assigned_to else '' }}">
                        </td>
                        <td>
                            <select class="form-control mx-auto w-auto" name="state" id="state" value="{{ task.state if task.state else '' }}">
                                <option value="Pending">Pending</option>
                                <option value="Work In Progress">Work In Progress</option>
                                <option value="Closed Complete">Closed Complete</option>
                                <option value="Closed Skipped">Closed Skipped</option>
                            </select>
                        </td>
                        <td>
                            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="start_date" placeholder="Start Date" type="date" value="{{ task.start_date if task.start_date else '' }}">
                        </td>
                        <td>
                            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="end_date" placeholder="End Date" type="date" value="{{ task.end_date if task.end_date else '' }}">
                        </td>
                        <td>
                            <button class="btn btn-primary" name="add_task" type="submit" value="{{ task.id }}">Update Task</button>
                        </td>
                    {% endfor %}
                </form>
            </tr>            
        </tbody>
    </table>
{% endblock %}