{% extends "layout.html" %}

{% block title %}
    Edit Project
{% endblock %}

{% block main %}
    <h1>Project</h1>
    <form class="form-inline" action="/edit_project/{{ project_id }}" method="post">
        {% for project in projects %}
            <div class="form-row" style="text-align:left">
                <div class="col-md-5">
                    <label for="name"><b>Name</b></label>
                    <input type="text" class="form-control" id="name" name="name" value="{{ project.name if project.name else '' }}">
                </div>
                <div class="col-md-5">
                    <label for="status"><b>Status</b></label>
                    <select class="form-control" name="status" id="status">
                        <option value="Green" {% if project.status == "Green" %}selected{% endif %}>Green</option>
                        <option value="Yellow" {% if project.status == "Yellow" %}selected{% endif %}>Yellow</option>
                        <option value="Red" {% if project.status == "Red" %}selected{% endif %}>Red</option>
                    </select>
                </div>
            </div>
            <div class="form-group" style="text-align:left">
                    <label for="description"><b>Description</b></label>
                    <input type="text" class="form-control" id="description" name="description" value="{{ project.description if project.description else '' }}">
            </div>
            <div class="form-row" style="text-align:left">
                <div class="col-md-5">
                    <label for="start_date"><b>Start Date</b></label>
                    <input type="date" class="form-control" id="start_date" name="start_date" value="{{ project.start_date if project.start_date else '' }}">
                </div>
                <div class="col-md-5">
                    <label for="end_date"><b>End Date</b></label>
                    <input type="date" class="form-control" id="end_date" name="end_date" value="{{ project.end_date if project.end_date else '' }}">
                </div>
            </div>
            <div class="form-row" style="text-align:left">
                <div class="col-md-5">
                    <label for="percent_complete"><b>Percent Complete</b></label>
                    <input type="number" class="form-control" id="percent_complete" name="percent_complete" value="{{ project.percent_complete if project.percent_complete else '0' }}">
                </div>
                <div class="col-md-5">
                    <label for="phase"><b>Phase</b></label>
                    <select class="form-control" name="phase" id="phase">
                        <option value="Initiating" {% if project.phase == "Iniating" %}selected{% endif %}>Initiating</option>
                        <option value="Planning" {% if project.phase == "Planning" %}selected{% endif %}>Planning</option>
                        <option value="Executing" {% if project.phase == "Executing" %}selected{% endif %}>Executing</option>
                        <option value="Delivering" {% if project.phase == "Delivering" %}selected{% endif %}>Delivering</option>
                        <option value="Closing" {% if project.phase == "Closing" %}selected{% endif %}>Closing</option>
                    </select>
                </div>
            </div>
            <div>
                <button class="btn btn-primary" name="project_update" type="submit" value="{{ project.id }}">Update Project</button>
            </div>
        {% endfor %}
    </form>
    <h1>Tasks</h1>
    <table class="table table-all">
        <thead>
            <tr>
                <th class="text-start">Name</th>
                <th class="text-start">Description</th>
                <th class="text-start">Assigned To</th>
                <th class="text-start">State</th>
                <th class="text-start">Start Date</th>
                <th class="text-start">End Date</th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
                <tr>
                    <form action="/edit_project/{{ project_id }}" method="post">
                            <td>
                                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="name" placeholder="Name" type="text" value="{{ task.name if task.name else '' }}">
                            </td>
                            <td>
                                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="description" placeholder="Description" type="text" value="{{ task.description if task.description else '' }}">
                            </td>
                            <td>
                                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="assigned_to" placeholder="Assigned To" type="text" value="{{ task.assigned_to if task.assigned_to else '' }}">
                            </td>
                            <td>
                                <select class="form-control mx-auto w-auto" name="state" id="state">
                                    <option value="Pending" {% if task.state == "Pending" %}selected{% endif %}>Pending</option>
                                    <option value="Work In Progress" {% if task.state == "Work In Progress" %}selected{% endif %}>Work In Progress</option>
                                    <option value="Closed Complete" {% if task.state == "Closed Complete" %}selected{% endif %}>Closed Complete</option>
                                    <option value="Closed Skipped" {% if task.state == "Closed Skipped" %}selected{% endif %}>Closed Skipped</option>
                                </select>
                            </td>
                            <td>
                                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="start_date" placeholder="Start Date" type="date" value="{{ task.start_date if task.start_date else '' }}">
                            </td>
                            <td>
                                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="end_date" placeholder="End Date" type="date" value="{{ task.end_date if task.end_date else '' }}">
                            </td>
                            <td>
                                <button class="btn btn-primary" name="task_update" type="submit" value="{{ task.id }}">Update</button>
                            </td>
                    </form>
                </tr>
            {% endfor %}
            <tr>
                <form action="/edit_project/{{ project_id }}" method="post">
                    <td>
                        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="name" placeholder="Name" type="text">
                    </td>
                    <td>
                        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="description" placeholder="Description" type="text">
                    </td>
                    <td>
                        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="assigned_to" placeholder="Assigned To" type="text">
                    </td>
                    <td>
                        <select class="form-control mx-auto w-auto" name="state" id="state">
                            <option selected disabled>State</option>
                            <option value="Pending">Pending</option>
                            <option value="Work In Progress">Work In Progress</option>
                            <option value="Closed Complete">Closed Complete</option>
                            <option value="Closed Skipped">Closed Skipped</option>
                        </select>
                    </td>
                    <td>
                        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="start_date" placeholder="Start Date" type="date">
                    </td>
                    <td>
                        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="end_date" placeholder="End Date" type="date">
                    </td>
                    <td>
                        <button class="btn btn-primary" name="add_task" type="submit" value="{{ project_id }}">Add Task</button>
                    </td>
                </form>
            </tr>
        </tbody>
    </table>
{% endblock %}